.semester-registration-view {
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
}

.semester-registration-component {
    padding: 1em;
    background-color: rgb(28, 19, 156, 0.15);
}

.button {
    margin: 1em;
}

.view-semester-registration,
.create-semester-registration,
.approve-semester-registration {
    margin-top: 1.5em;
}