<div class="top-view">
    <div class="semester-registration-view">
        <div class="semester-registration-component">
            <h2 class="page-header-title">SEMESTER REGISTRATION</h2>
            <div class="semester-registration-components">           
                <a class="button sr-nav-button" (click)="semesterRegistrationSelection(1)">Create Registration</a>
                <a class="button sr-nav-button" (click)="semesterRegistrationSelection(2)">Approve Registration</a>
                <a class="button sr-nav-button" (click)="semesterRegistrationSelection(3)">View Student Registration</a>          
            </div>
    
            <div [hidden]="!create" class="create-semester-registration">
                <form class="semesterRegistrationForm" #semesterRegistrationForm="ngForm">
                    <h3>Add Registration</h3>
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Admin Username:</label>
                        <input
                             type="input" 
                             class="form-control" 
                             id="username" 
                             placeholder="Enter username" 
                             name="username-create"
                             [(ngModel)]="username" 
                             #USERNAME = "ngModel"
                             (mouseout) = "getUser(username)"
                             (mouseover) = "getUser(username)"
                             (keydown.Tab)="getUser(username)"
                             required>
                        <span class="validation"
                             *ngIf="USERNAME.touched && username == ''">
                             username is required
                         </span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Admin Password:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="password" 
                            placeholder="Enter current password" 
                            name="password-create" 
                            [(ngModel)]="password" 
                            #PASSWORD = "ngModel"
                            required>
                        <span class="validation"
                            *ngIf="PASSWORD.touched && password == ''">
                            password is required
                        </span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="studentId" class="form-label">Student ID:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="studentId" 
                            placeholder="Enter Student ID" 
                            name="studentId-create" 
                            [(ngModel)]="studentId" 
                            #STUDENTID = "ngModel"
                            (mouseover)="getSemesterRegistration(studentId, 1)"
                            (mouseout)="getSemesterRegistration(studentId, 1)"
                            (keydown.Tab)="getSemesterRegistration(studentId, 1)"
                            (keydown.Enter)="getSemesterRegistration(studentId, 1)"
                            required>
                        <span class="validation"
                            *ngIf="STUDENTID.touched &&  studentId == 0">
                            userId is required
                        </span>
                    </div>
                    <div class="validation-message-container">
                        <span class="validation-message"> {{semesterRegistrationValidationMessage}} </span>
                    </div>
                    <div class="submit-container">
                        <button type="submit" 
                            class="button create-button" 
                            (click)="createSemesterRegistration(studentId, semesterRegistrationForm)"
                            *ngIf="!semesterRegistrationExists()">
                            Create 
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                        <button type="submit" class="button cancel-button" 
                        (click)="resetValidationMessages(); semesterRegistrationForm.reset()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
            <div [hidden]="!approve" class="approve-semester-registration">
                <form class="semesterRegistrationForm" #approveSemesterRegistrationForm="ngForm">
                    <h3>Approve Registration</h3>
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Admin Username:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="username" 
                            placeholder="Enter username" 
                            name="username-approve"
                            [(ngModel)]="usernameApprove" 
                            #USERNAMEAPPROVAL = "ngModel"
                            (mouseout) = "getUser(usernameApprove)"
                            (mouseover) = "getUser(usernameApprove)"
                            (keydown.Tab)="getUser(usernameApprove)"
                            required>
                        <span class="validation"
                            *ngIf="USERNAMEAPPROVAL.touched && usernameApprove == ''">
                            username is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Admin Password:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="password" 
                            placeholder="Enter current password" 
                            name="password-approve"
                            [(ngModel)]="passwordApprove" 
                            #PASSWORDAPPROVAL = "ngModel" required>
                        <span class="validation"
                            *ngIf="PASSWORDAPPROVAL.touched && passwordApprove == ''">
                            password is required
                        </span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="studentId" class="form-label">Student ID:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="studentId" 
                            placeholder="Enter Student ID" 
                            name="studentId-approve" 
                            [(ngModel)]="studentIdApprove"
                            #STUDENTIDAPPROVAL = "ngModel" 
                            (mouseover)="getSemesterRegistration(studentIdApprove, 2)"
                            (mouseout)="getSemesterRegistration(studentIdApprove, 2)"
                            (keydown.Tab)="getSemesterRegistration(studentIdApprove, 2)"
                            (keydown.Enter)="getSemesterRegistration(studentIdApprove, 2)" required>
                        <span class="validation"
                            *ngIf="STUDENTIDAPPROVAL.touched && studentIdApprove == 0">
                            userId is required
                        </span>
                    </div>
                    <div class="validation-message-container">
                        <span class="validation-message"> {{semesterRegistrationApprovalValidationMessage}} </span>
                    </div>
                    <div class="submit-container">
                        <button type="submit" 
                            class="button approve-button" 
                            (click)="approveSemesterRegistration(studentIdApprove, approveSemesterRegistrationForm)"
                            *ngIf="!semesterRegistrationApproved()"
                            >
                            Approve 
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                        <button type="submit" 
                            class="button cancel-button" 
                            (click)="resetValidationMessages(); approveSemesterRegistrationForm.reset()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
            <div [hidden]="!view" class="view-semester-registration">
                <form class="semesterRegistrationForm" #viewSemesterRegistrationForm="ngForm">
                    <h3>View Registration</h3>
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Admin Username:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="username" 
                            placeholder="Enter username" 
                            name="username-view"
                            [(ngModel)]="usernameView" 
                            #USERNAMEVIEW = "ngModel"
                            (mouseout) = "getUser(usernameView)"
                            (mouseover) = "getUser(usernameView)"
                            (keydown.Tab)="getUser(usernameView)"
                            required>
                        <span class="validation"
                            *ngIf="USERNAMEVIEW.touched && usernameView == ''">
                            username is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Admin Password:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="password" 
                            placeholder="Enter current password" 
                            name="password-view"
                            [(ngModel)]="passwordView" 
                            #PASSWORDVIEW = "ngModel" required>
                        <span class="validation"
                            *ngIf="PASSWORDVIEW.touched && passwordView == ''">
                            password is required
                        </span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="studentId" class="form-label">Student ID:</label>
                        <input 
                            type="input" 
                            class="form-control" 
                            id="studentId" 
                            placeholder="Enter Student ID" 
                            name="studentId-view" 
                            [(ngModel)]="studentIdView" 
                            #STUDENTIDVIEW = "ngModel" required>
                         <span class="validation"
                            *ngIf="STUDENTIDVIEW.touched && studentIdView == 0">
                            studentId is required
                        </span>
                    </div>
                    <div class="validation-message-container">
                        <span class="validation-message"> {{semesterRegistrationViewValidationMessage}} </span>
                    </div>
                    <div class="submit-container">
                        <a type="submit" 
                            class="button view-button" 
                            (click)="viewSemesterRegistration(studentIdView)">
                            View 
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                        <a type="submit" 
                            class="button cancel-button" 
                            (click)="resetValidationMessages(); viewSemesterRegistrationForm.reset()">
                            Cancel
                        </a>
                    </div>
                </form><br>
    
                <table class="table table-striped view-table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">RegistrationID</th>
                        <th scope="col">StudentID</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{getData.registrationId}}</td>
                        <td>{{getData.studentId}}</td>
                        <td>{{getData.comments}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>