.semester-registration-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 60rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
    text-align: center;
}

.button {
    margin: 1em;
}

.view-semester-registration,
.create-semester-registration,
.approve-semester-registration {
    margin-top: 0.5em;
}