.top-view-admin-update-courses {
    background-image: url("/assets/images/diversity-group.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 5em;
}

.update-courses-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.update-course-components {
    text-align: center;
}

.button {
    margin: 1em;
}

.add-course-view,
.edit-course-view {
    margin-top: 1.5em;
}