/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.button,
.button:visited {
    display: inline-block;
    background: var(--primary-color-dark);
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover,
.button:active {
    background: orange;
    color:white
}