/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {

    --default-font-family: "Playfair Display";
    --secondary-font-family: "Roboto";

    --primary-color: rgb(28, 74, 172);
    --primary-color-dark: darkblue;
    --primary-background-color: rgb(108, 184, 255);
    --secondary-color: rgb(95, 164, 233);
    --side-pane-background-color:rgba(203, 203, 209, 0.90);
    --home-pane-background-color: rgb(28, 19, 156, 0.45);
    --menu-dropdown-background-color: rgba(203, 203, 209, 0.95);
    --middle-pane-color: rgba(160,160,160, 0.80);
}

body {
    margin: 0 auto;
    padding: 0;
}

header, footer {
    /* background-color: var(--primary-color-dark); */
    background-image: linear-gradient(to right, darkblue, darkgrey);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

.button,
.button:visited {
    display: inline-block;
    background: var(--primary-color-dark);
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-family: var(--default-font-family);
}

.button:hover,
.button:active {
    background: orange;
    color:white
}

.back {
    width: 100px;
}

.validation-message {
    font-weight: bold;
    color: rgb(200,0,0);
}

.validation-message-container {
    margin: 1em;
}

.top-view {
    background-image: url("/assets/images/diversity-group.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-bottom: 10em;
}

.page-header-title {
    font-family: var(--default-font-family);
    font-weight: bolder;
    text-align: center;
}

.validation {
    font-weight: bold;
    color: rgb(200,0,0);
}




