<div class="about-view">
    <div class="about-component">
        <h2 style="text-align: center;"> ABOUT US </h2>

        <h5> Project: </h5>
        <p>Java Fullstack Course Registration System</p><br> 
        <h5> Group Name: </h5>
        <p> GROUP A </p><br>
        <h5> Developers </h5> 
        <ul>
            <li> Sebastian Puerta Hincapie </li>
            <li> Jonathan Yu </li>
            <li> RehmathullaBaig Mirza</li> 
        </ul><br>
        <h5> Server Implementation Responsibility </h5>
        <ul>
            <li> User/Login --> Sebastian </li>
            <li> Student --> Sebastian </li>
            <li> Admin --> Jonathan </li>
            <li> Professor --> RehmathullaBaig</li> 
        </ul><br>
        <h5> Client (UI/UX) Implementation Responsibility </h5>
        <ul>
            <li> User/Login --> Sebastian </li>
            <li> Student --> Sebastian </li>
            <li> Admin --> Sebastian </li>
            <li> Professor --> Sebastian</li> 
        </ul><br>
        <h5>Database</h5>
        <ul>
            <li> Design --> All </li>
            <li> Schema --> Sebastian</li>
            <li> Populate DB --> Sebastian</li>
        </ul><br>
        <h5> Testing </h5>
        <ul>
            <li> Server APIs - All</li>
            <li> UI/UX - Sebastian</li>
        </ul><br>
        <h5> BACKEND TECHNOLOGY </h5>
        <ul>
            <li> Java 8 </li>
            <li> Spring Boot</li>
            <li> Spring Server</li>
            <li> Spring Cloud </li> 
            <li> JDBC Template</li> 
            <li> MySQL - NaviCat 8</li> 
            <li> Nodejs</li>
            <li> Expressjs</li>
            <li>MongoDB</li>
        </ul><br>
        <h5> FRONTEND TECHNOLOGY </h5>
        <ul>
            <li> Angular 13 </li>
            <li> HTML5</li>
            <li> CSS</li>
            <li> Bootstrap</li> 
            <li> ES6</li> 
            <li> Typescript</li> 
        </ul><br>
        <h5> GITHUB REPOSITORY: 
            <a href="https://github.com/LTI-Sebastian-Puerta-Hincapie/CRS-Project-Group-A-Complete"> Repository </a>
        </h5><br>
        <h5> Training Period </h5>
        <p> Fall 2022 | Sept 13 - TBD </p>
    </div>
</div>