<div class="about-view">
    <div class="about-component">
        <h2 style="text-align: center;"> ABOUT US </h2>
        <p> Java Fullstack Course Registration System </p>
        <p> GROUP A </p>
        <p> Developers </p> 
        <ul>
            <li> Sebastian Puerta Hincapie </li>
            <li> Jonathan Yu </li>
            <li> RehmathullaBaig Mirza</li> 
        </ul>
        <p> Server Implementation Responsibility </p>
        <ul>
            <li> User/Login --> Sebastian </li>
            <li> Student --> Sebastian </li>
            <li> Admin --> Jonathan </li>
            <li> Professor --> RehmathullaBaig</li> 
        </ul>
        <p> Client (UI/UX) Implementation Responsibility </p>
        <ul>
            <li> User/Login --> Sebastian </li>
            <li> Student --> Sebastian </li>
            <li> Admin --> Sebastian </li>
            <li> Professor --> Sebastian</li> 
        </ul>
        <p>Database</p>
        <ul>
            <li> Design --> All </li>
            <li> Schema --> Sebastian</li>
            <li> Populate DB --> Sebastian</li>
        </ul>
        <p> Testing </p>
        <ul>
            <li> Server APIs - All</li>
            <li> UI/UX - Sebastian</li>
        </ul>
        <p> BACKEND TECHNOLOGY </p>
        <ul>
            <li> Java 8 </li>
            <li> Spring Boot</li>
            <li> Spring Server</li>
            <li> Spring Cloud </li> 
            <li> JDBC Template</li> 
            <li> MySQL - NaviCat 8</li> 
            <li> Nodejs</li>
            <li> Expressjs</li>
            <li>MongoDB</li>
        </ul>
        <p> FRONTEND TECHNOLOGY </p>
        <ul>
            <li> Angular 13 </li>
            <li> HTML5</li>
            <li> CSS</li>
            <li> Bootstrap</li> 
            <li> ES6</li> 
            <li> Typescript</li> 
        </ul>
    </div>
</div>