.professor-view-component {
    display: grid;
    grid-template-rows: auto auto auto;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
    text-align: center;
}

.professor-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.professor-courses-container {
    grid: 2;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.professor-view-form {
    width: 200px;
}