<div class="update-password-view">
    <div class="update-password-component">
        <h2 style="text-align: center;">UPDATE PASSWORD </h2>
        <form class="updatePasswordForm" #updatePasswordForm="ngForm">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username:</label>
                <input 
                    type="username" 
                    class="form-control" 
                    id="username" 
                    placeholder="Enter username" 
                    name="username" 
                    [(ngModel)] = "user.username"
                    #username = "ngModel"
                    (mouseout) = "getUser()"
                    (mouseover) = "getUser()"
                    (keydown.Tab)="getUser()"
                    required>
                <span class="text-danger"
                    *ngIf="username.touched && user.username == ''">
                    username is required
                </span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Current Password:</label>
                <input 
                    type="input" 
                    class="form-control" 
                    id="current-password" 
                    placeholder="Enter current password" 
                    name="current-password" 
                    [(ngModel)] = "user.currentPassword"
                    #currentPassword = "ngModel"
                    required>
                <span class="text-danger"
                    *ngIf="currentPassword.touched && user.currentPassword == ''">
                    password is required
                </span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">New Password:</label>
                <input 
                    type="input" 
                    class="form-control" 
                    id="new-password" 
                    placeholder="Enter new password" 
                    name="new-password"
                    [(ngModel)] = "user.newPassword"
                    #newPassword = "ngModel" 
                    required>
                <span class="text-danger"
                    *ngIf="newPassword.touched && user.newPassword == ''">
                    password is required
                </span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password:</label>
                <input 
                    type="input" 
                    class="form-control" 
                    id="confirm-password" 
                    placeholder="Confirm password" 
                    name="confirm-password"
                    [(ngModel)] = "confirmationPassword"
                    #confirmpassword = "ngModel" 
                    required>
                <span class="text-danger"
                    *ngIf="confirmpassword.touched && confirmationPassword == ''">
                    password is required
                </span>
            </div>
            <div class="submit-container">
                <a type="submit" class="button" 
                (click)="updatePassword(user.username, user.currentPassword, user.newPassword); updatePasswordForm.reset()">
                    Update
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
                <div class="validation-message-container">
                    <span class="text-danger validation-message"> {{updateValidationMessage}} </span>
                </div>
            </div>
        </form>
    </div>
</div>