.update-password-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 40rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}