<div class="container-welcome-complete"> 
    <div class="display-component">
        <a class="button route-link" [routerLink]="['/']">Home</a>
        <!-- <a class="button route-link" [routerLink]="['/login']">Login</a> -->
        <a class="button route-link" [routerLink]="['/admin']">Admin</a>
        <a class="button route-link" [routerLink]="['/student']">Student</a>
        <a class="button route-link" [routerLink]="['/professor']">Professor</a>
        <a class="button route-link" [routerLink]="['/updatepassword']">Update Password</a> 
    </div><br>
    <app-login-component></app-login-component>

</div>  