.nav-bar-view {
    margin: 2em;
}

.container-welcome-complete {
    margin-left: 2em;
}

.route-link {
    margin-left: 0.5em;
}

.navbar {
    background-color: rgb(28, 19, 156, 0.10);
    padding: 1em;
}