.course-availability-component {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.course-availability-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.course-availability-form {
    width: 200px;
}

.back {
    width: 100px;
}

.available-display {
    font-weight: bold;
    text-align: center;
    color: green;
}

.unavailable-display {
    font-weight: bold;
    text-align: center;
    color: red;
}

