.admin-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 80rem;
    min-width: 50rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
    text-align: center;
}

.admin-components {
    padding-bottom: 2em;
}

.route-link {
    margin-left: 0.5em;
}
