<div class="admin-view">
    <div class="admin-component">
        <div class="admin-welcome-header"> 
            <h3>Welcome Admin </h3>
            <p> Update Professors, Generate Report Card, Semester Registration, Update Courses</p>
        </div><br>
        <div class="admin-components">
            <a class="button route-link" [routerLink]="['/admin/updateprofessors']">Professors</a>
            <a class="button route-link" [routerLink]="['/admin/updatecourses']">Courses</a>
            <a class="button route-link" [routerLink]="['/admin/generatereportcard']">Generate Report Card</a>
            <a class="button route-link" [routerLink]="['/admin/viewcourseavailability']">View Course Availability</a>
            <!-- <a class="button route-link" [routerLink]="['/admin/semesterregistration']">Semester Registration</a> -->
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->