<div class="top-view">
    <div class="professor-view">
        <div class="professor-component">
            <div class="professor-welcome-header"> 
                <h3 class="page-header-title">Welcome Professor </h3>
                <p> Add Grades, View Professor Profile</p>
            </div><br>
            <div class="professor-components">
                <a class="button route-link" [routerLink]="['/professor/addgrades']">Add Grades</a>
                <a class="button route-link" [routerLink]="['/professor/professorview']">Professor Profile</a>
            </div>
        </div>
        
        
    </div>
</div>