footer {
    text-align: center;
    max-width: 100%;
    min-width: 30%;
    padding: 1.5em;
    margin: 2em 0 0 0;
}

.footer-message {
    margin: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: left;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    font-size: 2.5em;
}
