footer {
    text-align: center;
}

.footer-message {
    margin: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: left;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    font-size: 2.5em;
}
