
<div class = "professor-view">
    <div class="professor-view-component">
      <h2 style="text-align: center;">PROFESSOR PROFILE</h2>
  
      <section class="professor-data-container">
          <h4>PROFESSOR INFORMATION:</h4>
          <div class="professor-profile-data">
              <p>Professor Id: {{resultData.id}}</p>
              <p>Name: {{resultData.name}} </p>
              <p>Department Id: {{resultData.departmentId}}</p>
              <p>Email: {{resultData.email}}</p>
              <p>Phone: {{resultData.phone}}</p>
              <p>Address: {{resultData.address}}</p>
          </div>
      </section>
  
     
  </div>
  </div>
  