.payment-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.student-payment-form {
    width: 300px;
}

.student-view-payment-form input {
    width: 100px;
}

.student-make-payment-form input {
    width: 200px;
}

.payment-data {
    margin-top: 1em;
}

.payment-table {
    background-color: lightgray;
    font-weight: bold;
}


