<div class="payment-component">
    <h2 style="text-align: center;">PAYMENT</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Payment Amount</th>
            <th>Credits</th>
            <th>Semester</th>
            <th>Payment Method</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3375</td>
            <td>3</td>
            <td>Fall 2022</td>
            <td>Credit</td>
          </tr>
        </tbody>
    </table>
    <a type="submit" class="button" href="">
        Submit Payment
        <i class="fa-solid fa-right-to-bracket"></i>
    </a>
</div>