.login-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 40rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.role-dropdown {
    width: 200px;
}

.sign-in-button {
    font-weight: bold;
    font-size: 1em;
}

.cancel-button {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
}

.submit-container {
    text-align: center;
}

