<div class="login-view">
    <div class="login-component">
        <h2 style="text-align: center;">LOGIN</h2>
        <form class="studentLoginForm">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username:</label>
                <input 
                    type="input" 
                    class="form-control" 
                    id="username" 
                    placeholder="Enter username" 
                    name="username" 
                    [(ngModel)] = "_username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input 
                    type="input" 
                    class="form-control" 
                    id="password" 
                    placeholder="Enter password" 
                    name="password" 
                    [(ngModel)] = "_password">
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role:</label>
                <!-- <input 
                    type="input" 
                    class="form-control" 
                    id="role" 
                    placeholder="Enter Role" 
                    name="role" 
                    [(ngModel)] = "_role"> -->
                    <select 
                        class="form-select role-dropdown" 
                        name="role"
                        aria-label="Role:" 
                        [(ngModel)] = "_role"
                        (click) = "getUser()">
                      <option default></option>
                      <option value="1">Admin</option>
                      <option value="2">Professor</option>
                      <option value="3">Student</option>
                    </select>
            </div>
        </form>
        <span class="validation-message"> {{semestereRegistrationValidationMessage}}</span>
        <div class="submit-container">
          <a type="submit" class="btn btn-primary sign-in-button" 
              (mouseover)="getSemesterRegistration()" 
              (click)="login(_username, _password, _role)">
              Sign-in
              <i class="fa-solid fa-right-to-bracket"></i>
          </a>
        </div>
    </div>
</div>