<div class="login-component">
    <h2 style="text-align: center;">LOGIN</h2>
    <form class="studentLoginForm">
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <a type="submit" class="button" href="student.html">
            Sign-in
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </form>
</div>
