.login-view {
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    padding-bottom: 2em;
}

.login-component {
    padding: 1em;
    background-color: rgb(28, 19, 156, 0.15);
}

.role-dropdown {
    width: 200px;
}

.button {
    border: none;
}

.sign-in-button {
    font-weight: bolder;
    font-size: 1em;
}

.submit-container {
    text-align: center;
}

.validation-message {
    color: red;
}

.validation-message-container {
    margin: 1em;
}