<div class="container-student-complete">
    <div class="container-welcome">
        <h1> CRS: Student </h1> 
        <h3> WELCOME </h3>
        <p> Semester Registration, Login, Update Password, 
            Add/Drop Course, Course Registration, Payment, and Student Profile</p>
    </div><br>
    <div class="display-component">
        <a class="button route-link" [routerLink]="['/']">Home</a>
        <a class="button route-link" [routerLink]="['/login']">Login</a>
        <a class="button route-link" [routerLink]="['/updatepassword']">Update Password</a>
        <a class="button route-link" [routerLink]="['/semesterregistration']">Semester Registration</a>
        <a class="button route-link" [routerLink]="['/courses']">Courses</a>
        <a class="button route-link" [routerLink]="['/payment']">Payment</a>
        <a class="button route-link" [routerLink]="['/studentview']">Profile</a>
    </div>

    <!-- <div class="container-semester-registration">
        <app-semester-registration-component></app-semester-registration-component>
    </div> 
    <div class="container-login">
        <app-login-component></app-login-component>
    </div> 
    <div class="container-update-password">
        <app-update-password-component></app-update-password-component>
    </div>
    <div class="container-courses">
        <app-course-component></app-course-component></div>
    <div class="container-payment">
        <app-payment-component></app-payment-component>
    </div>
    <div class="container-student-view">
        <app-student-view-component></app-student-view-component>
    </div> -->
</div>  


<router-outlet></router-outlet>
