.container-student-complete {
    display: grid;
    grid-template-rows: auto;
    padding: 5em;
}

.container-welcome {
    grid-row: 1;
    padding: 1em;
    background-color: rgb(28, 19, 156, 0.1);
}

.container-semester-registration {
    grid-row: 2;
    padding: 1em;
    margin-top: 2em;
    background-color: rgb(28, 19, 156, 0.15);
}

.container-login {
    grid-row: 3;
    padding: 1em;
    margin-top: 2em;
    background-color: rgb(28, 19, 156, 0.2);
}

.container-update-password {
    grid-row: 4;
    padding: 1em;
    margin-top: 2em;
    background-color: rgba(81, 72, 206, 0.25);
}

.container-courses {
    grid-row: 5;
    padding: 1em;
    margin-top: 2em;
    background-color: rgba(81, 72, 206, 0.3);
}

.container-payment {
    grid-row: 6;
    padding: 1em;
    margin-top: 2em;
    background-color: rgba(81, 72, 206, 0.35);
}

.container-student-view{
    grid-row: 7;
    padding: 1em;
    margin-top: 2em;
    background-color: rgba(81, 72, 206, 0.4);
}