<div class="container-welcome-complete">
    <div class="container-welcome">
        <h1> CRS: Student </h1> 
        <h3> WELCOME </h3>
        <p> Semester Registration, Login, Update Password, 
            Add/Drop Course, Course Registration, Payment, and Student Profile</p>
    </div><br>
    <div class="display-component">
        <a class="button route-link" [routerLink]="['/']">Home</a>
        <a class="button route-link" [routerLink]="['/admin']">Admin</a>
        <a class="button route-link" [routerLink]="['/student']">Student</a>
        <a class="button route-link" [routerLink]="['/professor']">Professor</a>
    </div>
</div>  


<router-outlet></router-outlet>
