<div class="student-view">
    <div class="student-component">
        <div class="student-welcome-header"> 
            <h3>Welcome Student </h3>
            <p> Semester Registration, Login, Update Password, 
                Add/Drop Course, Course Registration, Payment, and Student Profile</p>
        </div><br>
        <div class="student-components">
            <!-- <a class="button route-link" [routerLink]="['/semesterregistration']">Semester Registration</a> -->
            <a class="button route-link" [routerLink]="['/student/courses']">Courses</a>
            <a class="button route-link" [routerLink]="['/student/payment']">Payment</a>
            <a class="button route-link" [routerLink]="['/student/studentview']">Profile</a>
        </div>
    </div>
    
    
</div>