<div class="top-view">
    <div class="student-view">
        <div class="student-component">
            <div class="student-welcome-header"> 
                <h3 class="page-header-title">Welcome Student </h3>
                <p> Add/Drop/Register Course, Payment, and Student Profile</p>
            </div><br>
            <div class="student-components">
                <!-- <a class="button route-link" [routerLink]="['/semesterregistration']">Semester Registration</a> -->
                <a class="button route-link" [routerLink]="['/student/courses']">Courses</a>
                <a class="button route-link" [routerLink]="['/student/payment']">Payment</a>
                <a class="button route-link" [routerLink]="['/student/studentview']">Profile</a>
            </div>
        </div>
        
        
    </div>
</div>