.top-view-admin-generate-report-card {
    background-image: url("/assets/images/diversity-group.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 5em;
}

.report-card-component {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
    text-align: center;
}

.report-card-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.report-card-form {
    width: 200px;
}

.back {
    width: 100px;
}