.report-card-view {
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
}

.report-card-component {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
    background-color: rgb(28, 19, 156, 0.15);
}

.report-card-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.report-card-form {
    width: 200px;
}

.back {
    width: 100px;
}