<div class="courses-view">
    <div class="courses-component">
        <a class="button back" [routerLink]="['/student']">Back</a>
        <h2 class="student-pane-title"> COURSES REGISTRATION </h2><br>
        <!-- <form class="student-login-form">
            <div class="mb-1 mt-1">
                <label for="studentid" class="form-label">StudentID: </label>
                <input 
                    type="studentid" 
                    class="form-control" 
                    id="studentid" 
                    placeholder="Enter StudentID" 
                    name="studentid" 
                    [(ngModel)] = "studentID">
            </div>
        </form> -->
        <div class="main-container">
            <div class="courses-container">
                <h4> COURSES </h4><br>
                <button type="button" class="btn btn-primary" 
                    style= "margin: 1em;" 
                    (click)="getCourses()">
                    View Available Courses
                </button>
                    <ul style="list-style-type: none;">
                    <li *ngFor="let course of getCoursesData">
                        <div class="card" style="padding: 0.5em; font-weight: bold;">
                            {{course.courseName}} ({{course.courseId}})
                            <button type="button" class="btn btn-success" 
                                style= "margin: 1em;" 
                                (click)="addCourse(course)">
                                Add (+)
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="student-added-courses-container">
                <h4> ADDED COURSES </h4><br>
                <button type="button" class="btn btn-primary" 
                    style= "margin: 1em;" 
                    (click)="getAddedCourses()">
                    View Added Courses
                </button>
                <ul style="list-style-type: none;">
                    <li *ngFor="let course of getAddedCoursesData">
                        <div class="card" style="padding: 0.5em; font-weight: bold;">
                            {{course.courseName}} 
                            <div>
                                <button type="button" class="btn btn-warning" 
                                    style= "margin: 1em;" 
                                    (click)="registerCourse(course)">
                                    Register
                                </button>
                                <button type="button" class="btn btn-danger" 
                                    style= "margin: 1em;" 
                                    (click)="dropCourse(course)">
                                    Drop
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="student-registered-courses-container">
                <h4> REGISTERED COURSES </h4><br>
                <button type="button" class="btn btn-primary" 
                    style= "margin: 1em;" 
                    (click)="getRegisteredCourses()">
                    View Registered Courses
                </button>
                <ul style="list-style-type: none;">
                    <li *ngFor="let course of getRegisteredCoursesData">
                        <div class="card" style="padding: 0.5em; font-weight: bold;">
                            {{course.courseName}} 
                            <button type="button" class="btn btn-warning" 
                                style= "margin: 1em;" 
                                (click)="unRegisterCourse(course)">
                                Unregister
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-primary" 
            style= "margin: 1em;" 
            (click)="generateStudentFee(studentID)">
            Submit
        </button>
    </div>
</div>