.courses-view {
    margin: 0 auto;
    max-width: 80rem;
    min-width: 30rem;
}

.courses-component {
    padding: 1em;
    background-color: rgb(28, 19, 156, 0.15);
}

.main-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.courses-container {
    grid-column: 1;
    padding: 2em;
}

.student-added-courses-container {
    grid-column: 2;
    padding: 2em;
}

.student-registered-courses-container {
    grid-column: 3;
    padding: 2em;
}

.card {
    display: block;
    margin-top: 0.25em;
}