<header class="container p-5 my-5 text-white">
    <section class="header-brand-icon">
        <span class="brand-1"><b> LTI </b></span><br>
        <span class="brand-2"><b> Group A</b></span>
    </section> 
    <section class="header-title">
        <span><b> CRS </b></span> 
    </section> 
</header>
   <!-- <a class="button route-link" [routerLink]="['/']">Home</a>
        <a class="button route-link" [routerLink]="['/login']">Login</a>
        <a class="button route-link" [routerLink]="['/updatepassword']">Update Password</a> -->