header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.header-brand-icon .brand-1 {
    font-family: var(--default-font-family);
    font-size: 3em;
}

.header-brand-icon .brand-2 {
    font-family: var(--default-font-family);
    font-size: 1em;
}

.header-title {
    font-family: var(--default-font-family);
    font-size: 3em;
}

.header-profile-icon {
    margin-top: 0.5em;
    font-size: 2em;
}

.header-menu-dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color-dark);
    min-width: 160px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.50em;
    font-family: var(--default-font-family);
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: orange;
}

.header-menu-dropdown:hover .dropdown-content {
    display: block;
}

.header-menu-dropdown:hover .fa-bars {
    background-color: var(--primary-color-dark);
}

.menu-dropdown-item {
    color: white;
}

.fa-house, 
.fa-right-to-bracket,
.fa-user,
.fa-question,
.fa-pen-to-square,
.fa-user-plus {
    margin-left: 0.5em;
}

.modal-content {
    font-size: 0.5em;
}