.top-view-admin-update-professors {
    background-image: url("/assets/images/diversity-group.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 5em;
}

.update-professors-component {
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.update-professor-components {
    text-align: center;
}

.button {
    margin: 1em;
}

.add-professor-view,
.edit-professor-view {
    margin-top: 0.5em;
}

.show-professors-view {
    background-color:lightgrey;
}
