<div class = "student-view">
  <div class="student-view-component">
    <h2 style="text-align: center;">STUDENT PROFILE</h2>

    <section class="student-data-container">
        <h4>STUDENT INFORMATION:</h4>
        <div class="student-profile-data">
            <p>StudentID: 1</p>
            <p>Name: Thomas Parker </p>
            <p>Major: Biology</p>
            <p>Email: tparker@test.com</p>
            <p>Phone: +1(123)456-7890</p>
            <p>Address: 10 Parker Ave. New York, NY</p>
        </div>
    </section>

    <section class="student-registered-courses-container">
        <h4>REGISTERED COURSES:</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>CourseID</th>
                <th>CourseName</th>
                <th>Credits</th>
                <th>Semester</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Biology 0</td>
                <td>3</td>
                <td>Fall 2022</td>
              </tr>
            </tbody>
          </table>
    </section>

    <section class="student-grades-container">
        <h4>GRADES:</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>CourseID</th>
              <th>CourseName</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Biology 0</td>
              <td>A</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Biology 1</td>
              <td>A</td>
            </tr>
          </tbody>
        </table>
    </section>
</div>
</div>