.top-view-student-profile {
    background-image: url("/assets/images/diversity-group.jpg");
    background-size: 100%;
    background-repeat: repeat;
    padding-top: 5em;
    padding-bottom: 5em;
}

.student-view-component {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 30rem;
    background-color: var(--middle-pane-color);
    font-family: var(--default-font-family);
    border: solid;
    color: white;
}

.student-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.student-registered-courses-container {
    grid: 2;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.student-grades-container {
    grid: 3;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.student-view-payment-form {
    width: 200px;
}