.student-view-component {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1em;
}

.student-data-container {
    grid: 1;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.student-registered-courses-container {
    grid: 2;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}

.student-grades-container {
    grid: 3;
    padding: 1em;
    margin-top: 1em;
    background-color: lightgray;
}